#### import the things

In [1]:
import pandas as pd
import json
import os
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

idx = pd.IndexSlice

In [2]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer, TfidfTransformer
from sklearn.pipeline import make_pipeline, Pipeline

In [2]:
data_fol = r"..\data_files"

df = pd.read_pickle(os.path.join(data_fol, "dataset_text_only_no_outliers.pkl"))

In [3]:
df.head()

,tid,text,clean,hashtags,hashtags_count,mentions,clean_no_@#
0,1333476068192366593,"Teen pregnancy is high, HIV infection rate is ...","[teen, pregnancy, high, hiv, infection, rate, ...",[],0,[],teen pregnancy high hiv infection rate growing...
1,1364161232270487553,Even though it was a charity. Stevens thought...,"[even, though, charity, stevens, thought, spea...","[hiv, haemophilia]",2,[bloodinquiry],even though charity stevens thought speaking d...
2,1364161201291153414,SCORA\nStanding Committee on Sexual &amp; Repr...,"[scora, standing, committee, sexual, reproduct...",[],0,[],scora standing committee sexual reproductive h...
3,1364161184505737217,"many females are HIV+, we wish you well, bless...","[many, female, hiv, wish, well, blessing, cant...",[],0,[],many female hiv wish well blessing cant heal t...
4,1363439109948149760,@TheRustler83 Yep. Imagine if the government w...,"[therustler83, yep, imagine, government, deman...",[],0,[therustler83],yep imagine government demanding hiv test week...

#### try a few different transformations

Pipeline of countvectorizing and tfdif

In [17]:
pipeline = Pipeline(steps=[
                        ('countvect', CountVectorizer(min_df=.005)),
                        ('tfdif', TfidfTransformer())
                            ])

In [18]:
p_xform = pipeline.fit_transform(df['clean_no_@#'])

In [19]:
pd.DataFrame(p_xform.toarray(), columns=pipeline['countvect'].get_feature_names())

,10,12,1980s,20,2020,2021,30,80,90,able,...,worked,working,world,would,wrong,year,yes,yet,young,youre
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17919,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.150282,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
17920,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
17921,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
17922,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.345089,0.0,0.0,0.0,0.0,0.0,0.0
17923,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0

Just tfidf with a feature limit

In [20]:
tf = TfidfVectorizer(stop_words='english', max_features=180,)
tf_xform = tf.fit_transform(df['clean_no_@#'])
tf_df = pd.DataFrame(tf_xform.toarray(), columns=tf.get_feature_names())
tf_df.head()

,2021,80,access,africa,ago,aid,awareness,better,black,blood,...,want,way,week,woman,work,world,year,yes,young,youre
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [22]:
tf_df.sum().sort_values(ascending=False)

hiv        2802.861644
people      794.201243
hivaids     646.071875
like        487.471318
aid         464.673282
              ...
taking       86.305733
victim       81.660377
stis         81.115639
kit          79.467157
seen         77.474182
Length: 180, dtype: float64

In [14]:
fname = "tfidf_BoW_180.pkl"
pd.to_pickle(tf_df, os.path.join(data_fol, fname))

tfidf with 2-grams

In [23]:
tf = TfidfVectorizer(stop_words='english', max_features=180, ngram_range=(2,2))
tf_xform = tf.fit_transform(df['clean_no_@#'])
tf_2gram_df = pd.DataFrame(tf_xform.toarray(), columns=tf.get_feature_names())
tf_2gram_df.head()

,260 rape,30 year,40 year,accountability justice,acquire disease,affected hiv,aid crisis,aid hiv,antiretroviral therapy,awareness day,...,virus hiv,wife husbandsall,woman girl,woman hiv,woman living,work hiv,world test,year ago,year old,young people
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [24]:
tf_2gram_df.sum().sort_values(ascending=False)

hiv positive              377.814889
living hiv                364.239143
hiv aid                   354.385945
people living             329.905132
hiv test                  248.264518
                             ...
domestic terrorist         13.080745
intentionally refusing     12.832246
making mockery             12.803832
mockery justice            12.803832
day national               12.538973
Length: 180, dtype: float64

In [20]:
fname = "tfidf_2grams_180.pkl"
pd.to_pickle(tf_2gram_df, os.path.join(data_fol, fname))

tfidf with 2 and 3 grams

In [26]:
tf = TfidfVectorizer(stop_words='english', max_features=180, ngram_range=(2,3))
tf_xform = tf.fit_transform(df['clean_no_@#'])
tf_23gram_df = pd.DataFrame(tf_xform.toarray(), columns=tf.get_feature_names())
tf_23gram_df.head()

,260 rape,260 rape victim,30 year,40 year,accountability justice,acquire disease,acquire disease hiv,aid hiv,awareness day,billion peoplego,...,wife husbandsall usb,woman girl,woman girl hivaids,woman hiv,woman living,work hiv,world test,world test hiv,year ago,young people
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [27]:
tf_23gram_df.sum().sort_values(ascending=False)

hiv positive                385.980990
hiv aid                     362.959459
living hiv                  352.203685
people living               307.975557
hiv test                    249.571960
                               ...
hepatitis stis violation     14.043067
stis violation taken         14.043067
stis violation               14.043067
accountability justice       12.885818
day national                 11.480282
Length: 180, dtype: float64

In [26]:
fname = "tfidf_23gram_180.pkl"
pd.to_pickle(tf_23gram_df, os.path.join(data_fol, fname))